# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.Python
*.pyo
.DS_Store

# Virtual env
.venv/
venv/
env/

# Loyiha (instance/eduspace.db repoga qo'shiladi)
instance/*
!instance/eduspace.db
server.log
uploads/
*.db
!instance/eduspace.db
